@media screen and (max-width: 1200px) {
  .main {
    margin: 20px 0;
    padding: 0 20px;
  }

  .account {
    margin-top: 30px;
  }

  .head__title {
    font-size: 24px;
  }

  .head__button {
    padding: 12px 30px;
  }

  .button span {
    font-size: 12px;
  }

  .account__item {
    padding: 14px;
  }

  .account__item-info {
    grid-template-columns: 80px repeat(6, auto);
    column-gap: 20px;
  }

  .account__item-photo img {
    max-height: 80px;
  }

  .account__item-text > span, a {
    font-size: 14px;
  }

  .account__item-text > span.account__item-sub {
    font-size: 11px;
  }

  .account__item-text {
    row-gap: 10px;
  }

  .account__item-btn button span {
    font-size: 11px;
  }

  .button__edit {
    padding: 10px 18px; 
  }

  .button__delete {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 992px) {
  .head__title {
    font-size: 22px;
  }

  .head__button {
    padding: 10px 24px;
  }

  .button span {
    font-size: 11px;
  }

  .button__edit {
    padding: 10px 16px;
  }

  .button__delete {
    padding: 10px 16px;
  }

  .account__item-btn button span {
    font-size: 10px;
  }

  .account__item {
    gap: 20px;
  }

  .account__item-info {
    grid-template-columns: 80px repeat(auto-fill, minmax(140px, 1fr));
    row-gap: 10px;
  }

  .account__item-text {
    row-gap: 4px;
  }


  /* form */
  .form {
    max-width: 600px;
  }

  form {
    padding: 48px;
  }

  .form__block input {
    padding: 14px;
    font-size: 14px;
  }

  .form__block input::placeholder {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .head {
    padding-bottom: 8px;
    border-bottom: 1px solid #E5E5E5;
  }

  .account__item-photo {
    display: none;
  }

  .account__item-info {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    column-gap: 14px;
    row-gap: 20px;
  }

  .account__item-text > span.account__item-sub {
    font-size: 10px;
  }

  .account__item {
    padding: 16px 12px;
  }

  .account__item-text > span, a {
    font-size: 13px;
  }

  .account__list {
    row-gap: 8px;
  }

  .account {
    margin-top: 20px;
  }

  .button__edit, .button__delete {
      padding: 10px 14px;
  }

  .head__button {
    padding: 10px 20px;
  }

  .button span {
    font-size: 10px;
  }

    /* form */
    .form {
      max-width: 500px;
    }
  
    form {
      padding: 36px;
    }
  
    .form__block input {
      padding: 14px;
      font-size: 14px;
    }
  
    .form__block input::placeholder {
      font-size: 14px;
    }

    .form__button {
      width: 140px;
    }
}

@media screen and (max-width: 576px) {
  .main {
    margin: 20px 0;
    padding: 0 10px;
  }

  .account__item {
    grid-template-columns: 1fr;
  }

  .account__item-info {
    grid-template-columns: 1fr;
    row-gap: 14px;
  }
  
  .account__item-text {
    row-gap: 2px;
  }

  .account__item-btn {
    flex-direction: row;
    justify-content: start;
  }

  .button__edit, .button__delete {
    width: 100%;
  }

  .account__item-text > span, a {
    font-size: 14px;
  }

  /* form */
  main.main__form {
    padding: 10px;
  }

  .form {
    max-width: 400px;
  }

  form {
    padding: 20px;
    row-gap: 24px;
  }

  .form__block {
    row-gap: 4px;
}

  .form__block input {
    padding: 12px;
  }

  .form__button {
    width: 120px;

    padding: 14px;
    font-size: 14px;
  }
}